@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/myriadpro-bold-webfont.eot');
    src: url('fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/myriadpro-bold-webfont.woff') format('woff'),
        url('fonts/myriadpro-bold-webfont.ttf') format('truetype'),
        url('fonts/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadPro-Regular.woff') format('woff'),
        url('fonts/MyriadPro-Regular.ttf') format('truetype'),
        url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMTStdExtraBold';
    src: url('fonts/arialroundedmtstd-extrabold-webfont.eot');
    src: url('fonts/arialroundedmtstd-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/arialroundedmtstd-extrabold-webfont.woff') format('woff'),
        url('fonts/arialroundedmtstd-extrabold-webfont.ttf') format('truetype'),
        url('fonts/arialroundedmtstd-extrabold-webfont.svg#ArialRoundedMTStdExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 18px;
    font-family: arial, sans-serif;
    color: #5a5a5a;
    background: #fff;
    min-width: 1028px;
}

.shell {
    width: 960px;
    /*width: 1000px;*/
    margin: 0 auto;
    position: relative;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

h2 { font-size: 18px; color: #fa5400; border-bottom: 1px solid #c5c4be; margin-bottom: 8px; line-height: 26px; }

#wrapper { background: url('../images/main-bg.png') repeat center 0; }

/* Header */
#header { width: 100%; position: relative; z-index: 50; }

h1#logo { float: left; display: inline; padding: 3px 0 10px 27px; }
h1#logo a { width: 610px; height: 100px; background: url('../images/logo.png') no-repeat 0 0; display: block; }

#top-nav { float: right; display: inline; padding-top: 36px; padding-right: 13px; }
#top-nav li { float: left; display: inline; padding-left: 22px; list-style: none; }
#top-nav li a { background: url('../images/top-nav-left.png') no-repeat 0 -4000px; font-family: Verdana, arial, sans-serif; }
#top-nav li a { text-transform: uppercase; display: inline; float: left; color: #333333; line-height: 26px; font-size: 10px; }
#top-nav li a span { background: url('../images/top-nav-right.png') no-repeat right -4000px; margin-right: -11px; padding-left: 10px; padding-right: 11px; }
#top-nav li a span { display: inline; float: left; position: relative; height: 26px; line-height: 26px; }
#top-nav li a:hover,
#top-nav li.active a { background-position: 0 0; color: #fff; text-decoration: none; }
#top-nav li a:hover span,
#top-nav li.active a span { background-position: right 0; }

#cart { position: absolute; top: 8px; right: 1px; color: #707070; }
#cart .profile,
#cart .shopping { float: left; display: inline; }
#cart a { color: #fa5400; }
#cart .profile { padding-right: 5px; }
#cart .profile a { text-decoration: underline; font-weight: bold; letter-spacing: 1px; margin-left: 2px; }
#cart .profile a:hover { text-decoration: none; }
#cart .shopping { padding-left: 26px; background: url('../images/cart.png') no-repeat 0 0; }

/* Navigation */
#navigation { background: #5d5d5d url('../images/nav-bottom.png') no-repeat 0 bottom; height: 37px; padding-top: 3px; width: 100%; position: relative; z-index: 20; }
#navigation li { float: left; display: inline; position: relative; }
#navigation li a { padding-right: 19px; padding-left: 19px; line-height: 37px; font-weight: bold; font-size: 14px; color: #fff; display: block; text-transform: uppercase; }
#navigation li a:hover,
#navigation li.pr-active a { background: #323232; text-decoration: none; }
#navigation li.active a { background: #2c2c2c; text-decoration: none; }
#navigation li.sale-item { padding: 7px 0 0 14px; }
#navigation li.sale-item a { line-height: 22px; background: #fff200; color: #000; letter-spacing: 1px; padding: 0 5px; }

#navigation li .dd { display: none; position: absolute; top: 37px; left: 0; width: 176px; background: #323232; padding-top: 12px; padding-bottom: 8px; }
#navigation li .dd li a { float: left; display: inline; padding-left: 35px; background: #323232 url('../images/item.png') no-repeat 20px 9px; font-size: 12px; line-height: 24px; word-spacing: 2px; padding-right: 6px; width: 135px; }
#navigation li .dd li a:hover,
#navigation li .dd li.pr-active a,
#navigation li .dd li .dd li a:hover { background: #5d5d5d url('../images/item.png') no-repeat 20px 9px; }
#navigation li .dd .dd { left: 176px; top: -8px; padding: 8px 0; }
#navigation li .dd .dd li a { padding-left: 34px; width: 136px; }
#navigation li .dd li.pr-active .dd a { background: #323232 url('../images/item.png') no-repeat 20px 9px; }

/* Slider */
#slider { background: url('../images/background_steel.jpg') repeat-x center 0; /*background: #4d4d4d url('../images/slider-bg.png') repeat-x center 0;*/ padding: 6px 0; border-bottom: 1px solid #4c4c4c; margin-bottom: 62px; width: 100%; position: relative; z-index: 10; }
#slider .shell { position: relative; z-index: 10; }
#slider .jcarousel-clip ,
#slider ul.slider-items,
#slider ul.slider-items li { width: 960px; height: 354px; overflow: hidden; position: relative; }
#slider ul.slider-items li { float: left; display: inline; text-align: right; }
#slider .slide-entry { position: absolute; top: 52px; right: 71px; color: #fa5400; height: 183px; padding-bottom: 60px; }
#slider .slide-entry img { position: absolute; top: -20px; right: 400px; height: 330px; padding-bottom: 60px; }
#slider h2, #slider h3, #slider h4, #slider h5, #slider h6 { font-family: 'MyriadProBold', arial, sans-serif; font-weight: normal; }
#slider h2 span, #slider h3 span, #slider h4 span { color: #4a4a4a; }
#slider h2 { font-size: 36px; line-height: 32px; margin-bottom: -9px; position: relative; width: 100%; padding-top: 3px; border: none; }
#slider h2 span { font-size: 36px; }
#slider h3 { font-size: 50px; line-height: 54px; margin-bottom: -9px; width: 100%; position: relative; }
#slider h3 .small { font-size: 40px; }
#slider h4 { font-size: 44px; line-height: 48px; padding: 3px 4px 2px 0; }
#slider h4.short { margin-bottom: -3px; position: relative; width: 100%; padding: 0; }
#slider h4 .small { font-size: 32px; color: #fa5400; }
#slider h5 { font-size: 18px; line-height: 28px; padding-top: 8px; letter-spacing: -1px; word-spacing: 2px; }
#slider h6 { font-size: 17px; line-height: 17px; letter-spacing: -1px; word-spacing: 3px; padding-right: 2px; padding-top: 10px;}
#slider p { font-size: 15px; line-height: 24px; font-family: 'MyriadPro-Regular'; word-spacing: -1px; }
#slider strong { font-weight: normal; font-family: 'MyriadProBold', arial, sans-serif; }
#slider .buttonMain { position: absolute; bottom: 0; right: 24px; background: url('../images/button-left.png') no-repeat 0 0; float: left; display: inline; }
#slider .buttonMain span { margin-right: -24px; background: url('../images/button-right.png') no-repeat right 0; display: inline; float: left; line-height: 60px; height: 60px; }
#slider .buttonMain span { padding-left: 50px; padding-right: 49px; color: #fff; font-size: 24px; font-weight: bold; text-transform: uppercase; position: relative; }
#slider .buttonMain:hover { background-position: 0 -60px; text-decoration: none; }
#slider .buttonMain:hover span { background-position: right -60px; }

#slider .jcarousel-prev,
#slider .jcarousel-next { font-size: 0; line-height: 0; text-indent: -4000px; position: absolute; top: 50%; margin-top: -34px; display: none; width: 28px; height: 44px; cursor: pointer; }
#slider .jcarousel-prev { background: url('../images/slider-left.png') no-repeat 0 -4000px; left: 17px; }
#slider .jcarousel-next { background: url('../images/slider-right.png') no-repeat 0 -4000px; right: 16px; }
#slider .carousel-active { display: block; background-position: 0 0; }

#slider .slider-nav { position: absolute; left: 50%; bottom: -36px;}
#slider .slider-nav li { list-style: none; float: left; display: inline; padding-right: 6px; }
#slider .slider-nav li a { width: 18px; height: 18px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; background: url('../images/slider-nav.png') no-repeat 0 0; }
#slider .slider-nav li.active a,
#slider .slider-nav li a:hover { background-position: 0 -18px; }

/* Main */
#main { padding-bottom: 66px; padding: 10px; }
.more { display: block; padding-left: 13px; background: url('../images/item.png') no-repeat 0 6px; color: #fa5400; margin-top: 6px; }

#content { /*width: 697px;*/ width: 960px; float: left; display: inline; min-height: 450px;}
.post img { float: right; display: inline; padding: 5px 0 20px 32px; }
.post p { padding-bottom: 18px; }

#sidebar { width: 223px; float: right; display: inline; }
#sidebar li { list-style: none; }
.widget .brands { padding-top: 11px; }
.widget .brands li { float: left; display: inline; padding-right: 4px; padding-bottom: 9px; }
.widget .more { margin-top: 9px; }

#products { padding-top: 15px; padding-bottom: 13px; }
#products h2 { margin-bottom: 7px; }
.product { width: 165px; float: left; display: inline; padding: 0 12px 22px 14px; position: relative; height: 100%; }
.product img { border: 1px solid #e0e0e0; }
.product .price { position: absolute; top: 116px; right: 15px; /*background: url('../images/price-left.png') no-repeat 0 0;*/ }
.product .price .inner { /*background: url('../images/price-right.png') no-repeat right 0; */height: 44px; padding-top: 6px; font-size: 17px; background-color: #333;}
.product .price .inner { margin-right: -12px; width: 70px; padding-right: 6px; text-align: right; position: relative; font-weight: bold; border-bottom-left-radius: 15px 15px; border-bottom-right-radius: 15px 15px; border-top-right-radius: 15px 15px; -moz-border-bottom-left-radius: 15px 15px; -moz-border-bottom-right-radius: 15px 15px; -moz-border-top-right-radius: 15px 15px;}
.product .price .title { display: block; font-weight: normal; font-family: 'ArialRoundedMTStdExtraBold', arial, sans-serif; color: #9a9a9a; font-size: 10px; line-height: 16px; }
.product .price strong { padding-right: 2px; color: #fff; }
.product .price strong span { color: #fa5400; font-size: 12px; }
.product .price strong sup { font-size: 9px; }
.product .info { padding-right: 62px; padding-top: 7px; line-height: 14px; }
.product .info p { color: #4b4b4b; font-weight: bold; display: block; padding-bottom: 7px; }
.product .info p.number { color: #fa5400; padding-left: 1px; font-weight: normal; padding-bottom: 0; }

#product-slider { height: 214px; width: 960px; position: relative; }
#product-slider h2 { margin-bottom: 9px; }
#product-slider .jcarousel-clip { margin-left: 31px; margin-right: 15px; }
#product-slider .jcarousel-clip,
#product-slider ul,
#product-slider ul li { width: 914px; height: 178px; overflow: hidden; position: relative; }
#product-slider ul li { float: left; display: inline; width: 165px; padding-right: 18px; }
#product-slider ul li a { height: 122px; width: 163px; position: relative; z-index: 10; display: block; }
#product-slider img { border: 1px solid #e4e4e4; display: block; }
#product-slider .info { width: 147px; padding-left: 7px; padding-right: 11px; height: 61px; position: absolute; top: 117px; left: 0; background: url('../images/slide-price.png') no-repeat 0 0; z-index: 20; }
#product-slider h4 { color: #c0c0c0; line-height: 30px; font-size: 12px; }
#product-slider .number { float: left; display: inline; color: #fa5400; padding-top: 2px; }
#product-slider .price { float: right; display: inline; font-weight: bold; font-size: 21px; color: #fff; line-height: 19px; }
#product-slider .price span { font-size: 15px; color: #fa5400; }
#product-slider .price sup { font-size: 11px; }

#product-slider .jcarousel-prev,
#product-slider .jcarousel-next { position: absolute; top: 87px; width: 14px; height: 22px; cursor: pointer; }
#product-slider .jcarousel-prev { background: url('../images/products-slide-left.png') no-repeat 0 0; left: 1px; }
#product-slider .jcarousel-next { background: url('../images/products-slide-right.png') no-repeat 0 0; right: 2px; }

/* Footer */
#footer { background: #444444 url('../images/main-bg.png') repeat center 0; color: #c7c7c7; }
#footer a { color: #c7c7c7; }
#footer p a { color: #737373; }

#footer .boxes { background: url('../images/footer-shadow.png') repeat-x 0 0; padding-top: 26px; padding-bottom: 38px; }
#footer .boxes .box { float: left; display: inline; width: 157px; padding-right: 28px; }
#footer .boxes .post-box { width: 400px; padding-right: 30px; }
#footer .boxes .social-box { padding-right: 30px; }
#footer .boxes .last-box { padding-right: 0; }

.box h2 { color: #fff; line-height: 29px; border-color: #7c7c7c; word-spacing: -2px; }
.box .box-entry { padding-right: 5px; padding-top: 1px; }
.box .box-entry img { float: left; display: inline; padding: 8px 15px 18px 0; }
.box li { list-style: none; }
.box li a { width: 157px; padding-left: 6px; position: relative; margin-left: -6px; display: block; line-height: 28px; text-decoration: none; text-transform: uppercase; }
.box li a:hover { background: #5d5d5d; text-decoration: none; }
.box li img { float: left; display: inline; padding-right: 12px; }

.post-box h2 { margin-bottom: 11px; }
.social-box h2 { margin-bottom: 10px; }
.social-box li { padding-bottom: 5px; }
.social-box li a { line-height: 23px; margin-left: 0; padding-left: 0; }
.social-box li a:hover { background: none; text-decoration: underline; }
.last-box h2 { margin-bottom: 7px; }

.copy { background: #363636 url('../images/main-bg.png') repeat center 0; color: #737373; line-height: 24px; }
.copy .carts { float: right; display: inline; padding-top: 15px; padding-bottom: 12px; }
.copy .carts li { float: left; display: inline; padding-right: 4px; }
.copy .carts span { padding-right: 19px; }
.copy p { padding-top: 15px; }

/*#button  { float: right; margin: 5px; color: #FFF; font-size: 10px; border: 1px solid #222; font-weight: bold; background-color: #444444; width: 150px; height: 30px; cursor: pointer; text-align: center; border-radius: 4px; }
#button:hover { border: 2px solid #E36A00; color: #FA7500; }
#button img { margin-right: 5px; vertical-align: middle; }*/

.loginfacebox  { border-radius: 5px; background-color: #F5EDE6; border: 1px solid #F0CCAD; width: 300px; margin-bottom: 5px; font-size: 11px; text-transform: uppercase; font-weight: bold; padding: 5px; }
.loginfacebox input { border: 1px solid #FA7500; border-radius: 4px; padding: 6px; font-size: 14px; font-weight: bold; }
.loginfacebox input:focus { border: 2px solid #FA7500; }
.loginfacebox button { color: #FFF; font-size: 10px; border: 1px solid #222; font-weight: bold; background-color: #444444; width: 150px; height: 30px; cursor: pointer; text-align: center; border-radius: 4px; }
.loginfacebox button:hover { border: 2px solid #E36A00; background-color: #FA7500; }
.loginfacebox button img { margin-right: 5px; vertical-align: middle; }

.button { float: right; margin: 5px; color: #FFF; font-size: 10px; border: 1px solid #222; font-weight: bold; background-color: #444444; width: 150px; height: 30px; cursor: pointer; text-align: center; border-radius: 4px; }
.button:hover { border: 2px solid #E36A00; background-color: #FA7500; }
.button img { margin-right: 5px; vertical-align: middle; }
.buttonUnabled { float: right; margin: 5px; font-size: 10px; border: 1px solid #777; color: #555; font-weight: bold; background-color: #999; width: 150px; height: 30px; text-align: center; border-radius: 4px; }
.buttonUnabled img { margin-right: 5px; vertical-align: middle; }
.buttonlarge { float: right; margin: 5px; color: #FFF; font-size: 10px; border: 1px solid #222; font-weight: bold; background-color: #444444; width: 200px; height: 30px; cursor: pointer; text-align: center; border-radius: 4px; }
.buttonlarge:hover { border: 2px solid #E36A00; background-color: #FA7500; }
.buttonlarge img { margin-right: 5px; vertical-align: middle; }

.ordercustomertype { border-radius: 5px; background-color: #F5EDE6; border: 1px solid #F0CCAD; width: 600px; }
.ordercustomertype input { width: 70px; border: 1px solid #FA7500; border-radius: 4px; padding: 6px; font-size: 14px; font-weight: bold; margin: 5px; margin-left: 15px; }
.ordercustomertype input:focus { border: 2px solid #FA7500; margin: 5px; margin-left: 15px; }

.ordercustomer { border-radius: 5px; background-color: #F5EDE6; border: 1px solid #F0CCAD; width: 800px; padding-bottom: 40px; margin-bottom: 5px; }
.ordercustomer h1 { float: left; font-size: 16px; font-weight: bold; margin: 10px 20px; text-align: left; }
/*.ordercustomer #buttons { float: right; margin: 5px; }*/

#centered { margin: auto; width: 780px;}

.orderform  { border-radius: 5px; background-color: #F5EDE6; border: 1px solid #F0CCAD; width: 790px; margin-bottom: 5px; font-size: 11px; text-transform: uppercase; font-weight: bold; padding: 5px; }
.orderform #checkbx { font-size: 8px; }
.orderform .codigo   { width: 70px; border: 1px solid #FA7500; border-radius: 4px; padding: 6px; font-size: 14px; font-weight: bold; }
.orderform .check   { width: 10px; border: 1px solid #FA7500; border-radius: 4px; padding: 6px; font-size: 14px; font-weight: bold; }
.orderform #field input { width: 150px; border: 1px solid #FA7500; border-radius: 4px; padding: 6px; font-size: 14px; font-weight: bold; }
.orderform input { width: 50px; border: 1px solid #FA7500; border-radius: 4px; padding: 6px; font-size: 14px; font-weight: bold; }
.orderform input:focus { border: 2px solid #FA7500; }
.orderform input[type="checkbox"]{ /*display:none;*/ margin-right: 2px; margin-left: 5px; color:#ffffff; vertical-align: center;}
.orderform button { color: #FFF; font-size: 10px; border: 1px solid #222; font-weight: bold; background-color: #444444; width: 150px; height: 30px; cursor: pointer; text-align: center; border-radius: 4px; }
.orderform button:hover { border: 2px solid #E36A00; background-color: #FA7500; }
.orderform button img { margin-right: 5px; vertical-align: middle; }

.simpleform input { width: 150px; border: 1px solid #FA7500; border-radius: 4px; padding: 6px; font-size: 14px; font-weight: bold; }
.simpleform #pass input { width: 100px; border: 1px solid #FA7500; border-radius: 4px; padding: 6px; font-size: 14px; font-weight: bold; }

.ordertable { border: 1px solid #5d5d5d; border-collapse:collapse; width: 800px; }
.ordertable table { border-radius: 5px; border-spacing:0; border-collapse:collapse; }
.ordertable th, td { padding: 3px 4px 3px 4px; }
.ordertable th { background-color: #FA7500; color: #FFF; text-align: center; }
.ordertable td { border: 1px solid #D4D4D4; text-align: center; }
.ordertable #code { font-weight: bold; }
.ordertable #concept { width: 200px; text-align: left; }
.ordertable #status { width: 50px; font-size: 10px; text-align: left; text-align: center; font-weight: bold; }
.ordertable #white { background-color: #FFF; }
.ordertable #gray { background-color: #F5EDE6; }

.orderbriefcasemain { border: 2px solid #5d5d5d; border-collapse:collapse; }
.orderbriefcasemain th { background-color: #FA7500;  color: #000; text-align: left; }
.orderbriefcasemain td { border: 1px solid #D4D4D4; text-align: left; font-size: 14px; padding: 2px; }

.orderbriefcasedetail { border: 1px solid #5d5d5d; border-collapse:collapse; width: 680px; font-size: 12px; }
.orderbriefcasedetail th { background-color: #FA7500; color: #FFF; text-align: center; }
.orderbriefcasedetail td { border: 1px solid #D4D4D4; text-align: right; font-weight: bold; }
.orderbriefcasedetail #code { text-align: center; }
.orderbriefcasedetail #concept { width: 200px; text-align: left; }
.orderbriefcasedetail #status { width: 50px; font-size: 10px; text-align: left; text-align: center; font-weight: bold; }
.orderbriefcasedetail #qty { text-align: center; }
.orderbriefcasedetail #white { background-color: #FFF; }
.orderbriefcasedetail #gray { background-color: #F5EDE6; }

.loginwindow { text-align: center; margin: auto; width: 400px; }
.loginwindow #window { text-align: left; width: 400px; padding: 2px; }
.login { margin: auto; text-align: left; width: 600px; font-weight: bold; padding: 5px; }
.login #centered { border-radius: 5px; border: 1px solid #FA7500; background-color: #F5EDE6; text-align: left; margin: 50px; padding: 20px; width: 600px; }
.login input { border: 1px solid #FA7500; border-radius: 4px; padding: 6px; font-size: 14px; font-weight: bold; }
.login input:focus { background-color: #F5EDE6; border: 2px solid #FA7500; }
.login button { color: #FFF; font-size: 10px; border: 1px solid #222; font-weight: bold; background-color: #444444; width: 150px; height: 30px; cursor: pointer; text-align: center; border-radius: 4px; }
.login button:hover { border: 2px solid #E36A00; background-color: #FA7500; }
.login button img { margin-right: 5px; vertical-align: middle; }

.loader { text-align: center;  vertical-align: middle;}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 300px;
}

.leyenda {
    font-size: 11px;
    font-weight: bold;
}

input[type=text], input[type=number], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    /*padding: 3px 0px 3px 3px;*/
    padding: 2px;
    /*margin: 5px 1px 3px 0px;*/
    margin: 2px;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=number]:focus, textarea:focus {
    box-shadow: 0 0 7px rgba(250, 84, 0, 1);
    /*padding: 3px 0px 3px 3px;*/
    padding: 2px;
    /*margin: 5px 1px 3px 0px;*/
    margin: 2px;
    border: 1px solid rgba(250, 84, 0, 1);
}
/*165 x 125*/
/*.renglon-linea button { width: 900px; margin-left: auto; margin-right: auto; text-align: left; }
.renglon-linea #codigo { padding-left: 185px; }
.renglon-linea #descripcion { padding-left: 20px; }*/

input {
    padding-right: 20px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.vista-linea table {
    width: auto;
    border-collapse: collapse;
    margin: 20px auto 20px auto;
    box-shadow: 1px 1px 20px 1px #777;
    box-shadow: 1px 1px 20px 1px #777;
    -moz-box-shadow: 1px 1px 20px 1px #777;
    -webkit-box-shadow: 1px 1px 20px 1px #777;
/*    filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=0,strength=1),
        progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=45,strength=1),
        progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=90,strength=2),
        progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=135,strength=3),
        progid:DXImageTransform.Microsoft.Shadow(color=#777,direction=180,strength=10),
        progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=225,strength=3),
        progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=270,strength=2),
        progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=315,strength=1);*/
}
/*.vista-linea table { border-top-right-radius: 6px; -moz-border-radius: 6px; border-spacing: 0; }*/
/* round the corners of the header rows... */
.vista-linea thead tr th:first-child { border-top-left-radius: 6px; }
.vista-linea thead tr th:last-child { border-top-right-radius: 6px; }
/* finally, round the corners of the last rows in the body */
.vista-linea tbody tr:last-child td:first-child { border-bottom-left-radius: 6px; }
.vista-linea tbody tr:last-child td:last-child { border-bottom-right-radius: 6px; }
/*.vista-linea tbody tr:last-child { background-color: #FA7500; color: #FFF; font-variant-caps: all-small-caps; font-size: 1.2em; }*/
/* now add some zebra-striping, and again, coloring the individual TDs; not the TRs */
.vista-linea tbody tr:nth-child(2n+1) td { background-color: #F5EDE6; }
/*.vista-linea td { border: 1px solid #D4D4D4; text-align: center; border: 1px solid #F0CCAD;  }*/
.vista-linea th, td { border: none; padding: 3px; text-align: center; }
.vista-linea th { background-color: #FA7500; color: #FFF; font-size: 0.7em; font-variant-caps: all-small-caps; }
.vista-linea td { background-color: #FFF; font-size: 0.9em; }
/*.vista-linea input.edit { width: 70px; }*/
.vista-linea .descripciones { width: 200px; }
.vista-linea #descripcion { text-align: left; }
.vista-linea input.cantidad { width: 40px; }
.vista-linea input.importe { width: 70px; }

/*.vista-linea-total div { margin-left: auto; margin-right: 0px; }*/
.vista-linea-total table { width: auto;
                          border-collapse: collapse;
                          margin: 20px 0px 20px auto;
                          box-shadow: 1px 1px 20px 1px #777;
                          -moz-box-shadow: 1px 1px 20px 1px #777;
                          -webkit-box-shadow: 1px 1px 20px 1px #777;
/*                          filter:
                              progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=0,strength=1),
                              progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=45,strength=1),
                              progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=90,strength=2),
                              progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=135,strength=3),
                              progid:DXImageTransform.Microsoft.Shadow(color=#777,direction=180,strength=10),
                              progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=225,strength=3),
                              progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=270,strength=2),
                              progid:DXImageTransform.Microsoft.Shadow(color=#888,direction=315,strength=1);*/
}
/* round the corners of the header rows... */
.vista-linea-total tbody tr:first-child th:first-child { border-top-left-radius: 6px; }
.vista-linea-total tbody tr:first-child td:last-child { border-top-right-radius: 6px; }
/* finally, round the corners of the last rows in the body */
.vista-linea-total tbody tr:last-child th:first-child { border-bottom-left-radius: 6px; }
.vista-linea-total tbody tr:last-child td:last-child { border-bottom-right-radius: 6px; }
/*.vista-linea-total th, td { border: none; padding: 3px; text-align: center; }*/
.vista-linea-total th { text-align: right; padding-right: 10px; background-color: #FA7500; color: #FFF; font-size: 0.9em; font-variant-caps: all-small-caps; width: 150px; }
.vista-linea-total td { text-align: right; padding-right: 20px; background-color: #FFF; font-size: 1em; width: 100px; }

/*.vista-linea #code { font-weight: bold; }
.vista-linea #concept { width: 200px; text-align: left; }
.vista-linea #status { width: 50px; font-size: 10px; text-align: left; text-align: center; font-weight: bold; }
.vista-linea #white { background-color: #FFF; }
.vista-linea #gray { background-color: #F5EDE6; }*/